@charset "UTF-8";
/* CSS Document */

/* Calculator Box */
.box {
	background-color: #000000;
	height: 350px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	left: 40%;
}

/* Display */
.display {
	background-color: #F115DD;
	width: 220px;
	position: relative;
	left: 15px;
	top: 20px;
	height: 40px;
}
.display input {
	position: relative;
	left: 2px;
	top: 2px;
	height: 30px;
	width: 210px;
	color: #F115DD;
	background-color: black;
	font-size: 23px;
	text-align: right;
}

/* Calculator Buttons */
.keys {
	position: relative;
	top: 15px;
}
.button {
	width: 40px;
	height: 30px;
	border: none;
	border-radius: 8px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
}
.button.function {
	color: black;
	background-color: #F115DD;
	border-bottom: black 2px solid;
	border-top: 2px white solid;
}
.button.operator {
	color: black;
	background-color: #F115DD;
	border-bottom: black 2px solid;
	border-top: 2px white solid;
}
.button.number {
	color: black;
	background-color: #F115DD;
	border-bottom: black 2px solid;
	border-top: 2px white solid;
}

/* Simulate Button Press */
.function:active {
	border-top: black 2px solid;
	border-bottom: 2px white solid;
}
.operator:active {
	border-top: black 2px solid;
	border-bottom: 2px white solid;
}
.number:active {
	border-top: black 2px solid;
	border-bottom: 2px white solid;
}